---
- name: Install python3-debian package with apt
  ansible.builtin.apt:
    name: python3-debian
    update_cache: yes

- name: Remove the legacy apt repository
  ansible.builtin.file:
    dest: /etc/apt/sources.list.d/elastic.list
    state: absent

- name: Add the elasticsearch apt repository
  register: elasticsearch_repository_added
  ansible.builtin.deb822_repository:
    name: elastic
    uris: "{{ elasticsearch.repository.apt.repository }}"
    signed_by: "{{ elasticsearch.repository.apt.key_url }}"
    types: [deb]
    components: [main]
    suites: [stable]
    state: present
    enabled: yes

- name: Update apt cache
  when: elasticsearch_repository_added.changed
  ansible.builtin.apt:
    update_cache: yes

- name: Ensure Elasticsearch is restarted after package upgrade
  ansible.builtin.lineinfile:
    path: /etc/default/elasticsearch
    create: yes
    regexp: "^#?RESTART_ON_UPGRADE="
    line: RESTART_ON_UPGRADE=true
    owner: root
    mode: "0644"

- name: Install Elasticsearch
  when: ansible_facts['os_family'] == 'Debian'
  notify: Restart Elasticsearch
  ansible.builtin.apt:
    name: elasticsearch
