---
- name: Install Elasticsearch (Debian-based)
  when: ansible_facts['os_family'] == "Debian"
  ansible.builtin.include_tasks: install.yaml

- name: Configure Elasticsearch
  ansible.builtin.include_tasks: config.yaml

- name: Start the Elasticsearch service
  ansible.builtin.include_tasks: service.yaml

- name: Generate certificates for transport security
  when:
    - elasticsearch.transport_security.ca_from is defined
    - elasticsearch.transport_security.ca_from != None
  ansible.builtin.include_tasks: transport_security.yaml

- name: Restart Elasticsearch on config changes
  ansible.builtin.include_tasks: restart_elasticsearch.yaml

- name: Set password for elastic superuser (ES 8 or newer)
  when: elasticsearch.version is version('8', '>=') and elasticsearch["elasticsearch.yml"].xpack.security.enabled
  ansible.builtin.include_tasks: password.yaml

- name: Configure ElasticSearch plugins
  ansible.builtin.include_tasks: plugins.yaml
  when: elasticsearch.plugins | default({}) | length > 0

- name: Set up a reverse proxy for Elasticsearch
  when: elasticsearch.use_dehydrated
  ansible.builtin.include_tasks: reverse_proxy.yaml
