---
- name: Display an error about missing elastic password
  when: not elasticsearch.users.builtin.elastic.password
  ansible.builtin.fail:
    msg: >-
      [ERROR]: The password for built-in user 'elastic' is not defined.
      Starting with ElasticSearch 8, security is enabled by default,
      which means that the built-in users must be password-protected.
      Please set the variable `elasticsearch.users.builtin.elastic.password`
      to your desired password.

- name: Check if the password for the elastic user is already defined
  changed_when: elastic_password_already_set.status == 401
  failed_when: elastic_password_already_set is failed and elastic_password_already_set.status != 401
  register: elastic_password_already_set
  ansible.builtin.uri:
    url: "http://localhost:{{ elasticsearch['elasticsearch.yml'].http.port | default('9200') }}"
    user: elastic
    password: "{{ elasticsearch.users.builtin.elastic.password }}"
    force_basic_auth: yes

- name: Define a password for the elastic user
  when: elastic_password_already_set is changed
  changed_when: yes
  ansible.builtin.shell:
    cmd: >-
      printf "{{ elasticsearch.users.builtin.elastic.password }}\n{{ elasticsearch.users.builtin.elastic.password }}" |
      {% for key, value in es_env.items() %}
      {{ key }}={{ value | quote }}
      {% endfor %}
      {{ elasticsearch.prefix.bin }}/elasticsearch-reset-password -b -u elastic -i
