{% if elasticsearch.version is not defined or elasticsearch.version is version('8', '<') %}
{{ elasticsearch['elasticsearch.yml'] | to_nice_yaml(indent=2) }}
{% else %}
{{ (elasticsearch['elasticsearch.yml'] | dict2items | rejectattr('key', 'in', ['system_call_filter', 'bootstrap']) | items2dict) | to_nice_yaml(indent=2) }}
{% endif %}
